/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&display=swap");

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
} */

@font-face {
    font-family: 'Lato';
    src: url(/Lato-Bold.ttf);
    font-weight: 200;
}

body {
    background-color: #F5F5F1;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    background: white;
    width: 310px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px #adadad;

    font-family: 'Lato', 'Montserrat', sans-serif;

}

.up {
    height: 160px;
    background-image: url(./fitness.jpg);
    background-clip: border-box;
    background-position: center;
    background-size: cover;

    border-radius: 19px 19px 0px 0px;
}

.middle p {
    font-weight: 400;
    padding: 0px 12px;
    color: #9E9E9E;

    text-align: justify;
}

.down {
    height: 100px;
    background-color: #EB9B3B;

    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.one-third {
    width: 33%;
    height: 100%;
    float: left;

}

.down1,
.down2 {
    border-right: 1px solid #BD7C2F;
}

.down1 h3 span {
    font-size: 10px;
}

.one-third p {
    font-size: 13px;
    font-weight: 400;
}


.goback {
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;

}

.back-button {
    width: 80px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.back-button svg {
    fill: #4c4c4c;
}

.back-button p {
    font-family: 'Lato', sans-serif;

    margin-left: 5px;
    text-decoration: none;
    color: #4c4c4c;
    ;

}